.Login {
    background-color: rgba(100, 100, 100, 0.35);
    min-height: 93.7vh;
}

input {
    box-shadow: 1px 1px 5px;
    outline: none;
}

.information-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 8rem 0;
    margin: 0 10rem 0 10rem;
    list-style: none;
    box-shadow: 1px 1px 2px;
}

.information-boxes .boxes-container {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 500px;
    align-items: flex-end;
    margin-right: 13rem;
}

.information-boxes .container-title {
    color: #4C2600;
    text-shadow: 2px 2px 1px rgba(110, 110, 0, 0.5);
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 2rem;
}

.information-boxes .container-title2 {
    color: #4C2600;
    text-shadow: 2px 2px 1px rgba(110, 110, 0, 0.5);
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 2rem;
}

.information-boxes .container-description {
    font-size: 14pt;
    color: rgb(0, 105, 135);
    padding-bottom: 1rem;
}

.information-boxes .container-description a {
    font-weight: bold;
    color: rgb(0, 105, 135);
}

.information-boxes .container-description a:hover {
    color: rgb(0, 105, 30);
}

.information-boxes .container-option {
    cursor: pointer;
    font-size: 10pt;
    text-decoration: underline;
    color: rgb(0, 105, 135);
}

.information-boxes .container-option:hover {
    color: rgb(0, 105, 30);
}

.Label {
    font-size: 20pt;
    color: #4C2600;
}

.passwordArea {
    margin: 1.5rem 0 1.5rem 0;
}

.usernameArea input, .passwordArea input {
    display: inline-block;
    margin-left: 0.5rem;
    background-color: rgba(110, 110, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.usernameArea input::placeholder, .passwordArea input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.showInvalid {
    display: block;
    text-align: center;
    color: rgb(160, 0, 0);
    margin-bottom: 1rem;
}

.Submit {
    font-size: 14pt;
    background-color: rgb(160, 250, 50);
    width: 100px;
    padding: 0 0.5rem 0 0.5rem;
    height: 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.Submit:hover {
    background-color: rgb(155, 230, 45);
    box-shadow: 1px 1px 1px;
}

.signup-text {
    text-align: center;
    font-size: 14pt;
    opacity: 0.6;
}