.Reserve {
    background-color: rgba(100, 100, 100, 0.35);
    min-height: 93.7vh;
}

.guest-info {
    margin-bottom: 1.5rem;
}

.guest-info input, #DT {
    display: inline-block;
    margin-left: 0.5rem;
    background-color: rgba(110, 110, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.guest-info input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.guest-info .optional-text {
    font-size: 8pt;
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 0.5rem;
}

#DT {
    margin-bottom: 2rem;
}